.app {
    display: block;
    width: 900px;
    margin: 0 auto;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.updateTaskContainer {
    display: flex;
}

.taskContainer {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-column-gap: 10px;
}

.kanban {
    display: block;
    overflow-x: scroll;
}
.kanbanCard {
    width: 16em;
}

.panelContainer {
    display: flex;
    flex-direction: row;
}